<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row
			.col
				ul.list-inline.py-3
					li.list-inline-item.mx-lg-4
						a(href="#") Facebook
					li.list-inline-item.mx-lg-4
						a(href="#") Twitter
					li.list-inline-item.mx-lg-4
						a(href="#") Linkedin
					li.list-inline-item.mx-lg-4
						a(href="#") Github
					li.list-inline-item.mx-lg-4
						a(href="#") Dribble
					li.list-inline-item.mx-lg-4
						a(href="#") Google+
					li.list-inline-item.mx-lg-4
						a(href="#") Behance
			
